{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'training/style.css' %}">

<h1>Training Log</h1>

{% if resource_data %}

    <table id="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Notion Link</th>
                <th onclick="sortTableByDate()">Training Date <img src="{% static 'training/arrow-down-up.svg' %}" width="20px" height="20px"/></th>
                <th>Who Ran It</th>
                <th>Team</th>
            </tr>
        </thead>

        <tbody>
        {% for resource in resource_data %}
        <tr>
            <td>{{ resource.title }}</td>
            <td>{{ resource.notion_link }}</td>
            <td>{{ resource.training_date|date:"Y-m-d" }}</td>
            <td><a href="{% url 'training:personal' resource.user.id %}">{{ resource.user.username }}</a></td>
            <td>{{ resource.team }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No data available.</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
<p>No resources available</p>
{% endif %}

<script>
    let dateSortAsc = true;

    function sortTableByDate() {
        console.log("clicked")
        const table = document.getElementById("table");
        if (!table) {
            console.error("Table not found");
            return;
        }

        const tbody = table.tBodies[0];
        const rows = Array.from(tbody.rows);

        rows.sort((a, b) => {
            const dateA = new Date(a.cells[2].textContent.trim());
            const dateB = new Date(b.cells[2].textContent.trim());

            return dateSortAsc ? dateA - dateB : dateB - dateA;
        });

        rows.forEach(row => tbody.appendChild(row));

        dateSortAsc = !dateSortAsc;
    }
</script>
